@import '~bootstrap/scss/bootstrap';

$black: black;
$hi-viz: #00ff00;

.border {
  border: 3px solid $hi-viz;
  margin: 20px;
  padding: 20px;
}
// #sign-up {
//   display: none;
// }
// #sign-in {
//   display: none;
// }
// #certified {
//   display: none;
// }

// #not-certifed {
//   display: none;
// }
h1{
  text-align: center;
}

h2{
  text-align: center;
}

h3 {
  text-align: center;
}
.game-board {
  display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}
#message-board {
  text-align: center;
}
.cell {
 font-family: sans-serif;
 text-align: center;
 width: 100px;
 height: 100px;
 font-size: 65px;
 cursor: pointer;
 border: 1px solid;
}
